<aside class="sidebar shadow-sm">

    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
        <div class="picture-wrapper mb-4">
            <div class="user-picture m-auto">
                <img src="./assets/img/user.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="profile-details text-center pb-4">
            <p class="mb-0 text-uppercase name">{{user.name}}</p>
        </div>
    </div>

    <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
        <input type="search" class="form-control rounded-pill" name="search" placeholder="Buscar ...">
    </div>

    <nav class="sidebar-menu pt-3 pb-3">
        <div class="menu-header mt-3 mb-2">
            Componentes
        </div>
        <ul class="menu-items">
            <li>
                <a routerLink="/dashboard" routerLinkActive="active">
                    <i class="fa fa-tv"></i>
                    <span>Dashboard</span>
                    <span class="badge badge-warning rounded-0 text-dark p-1">NUEVO</span>
                </a>
            </li>
        </ul>
        <ul *ngIf="user.role === 'ADMIN_ROLE' || user.role === 'VISITOR_ROLE' " class="menu-items">
            <li>
                <a routerLink="/programarvisitas" routerLinkActive="active">
                    <i class="fa fa-tv"></i>
                    <span>Programar visitas</span>
                </a>
            </li>
        </ul>
        <ul *ngIf="user.role === 'ADMIN_ROLE' || user.role === 'VISITOR_ROLE' " class="menu-items">
            <li>
                <a routerLink="/visitas" routerLinkActive="active">
                    <!-- <i class="fas fa-user-clock"></i> -->
                    <i class="fas fa-user-check"></i>
                    <span>Visitas</span>
                </a>
            </li>
        </ul>
        <ul *ngIf="user.role === 'ADMIN_ROLE'" class="menu-items">
            <li>
                <a routerLink="/usuarios" routerLinkActive="active">
                    <i class="fas fa-users"></i>
                    <span>Usuarios</span>
                </a>
            </li>
        </ul>
        <ul *ngIf="user.role === 'ADMIN_ROLE'" class="menu-items">
            <li>
                <a routerLink="/schools" routerLinkActive="active">
                    <i class="fa fa-graduation-cap"></i>
                    <span>Escuelas</span>
                </a>
            </li>
        </ul>
        <ul *ngIf="user.role === 'ADMIN_ROLE'" class="menu-items">
            <li>
                <a routerLink="/grupos" routerLinkActive="active">
                    <i class="fa fa-address-card"></i>
                    <span>Grupos</span>
                </a>
            </li>
        </ul>
        <ul *ngIf="user.role === 'ADMIN_ROLE'" class="menu-items">
            <li>
                <a routerLink="/iglesias" routerLinkActive="active">
                    <i class="fa fa-church"></i>
                    <span>Iglesias</span>
                </a>
            </li>
        </ul>
        <ul *ngIf="user.role === 'USER_ROLE'" class="menu-items">
            <li>
                <a routerLink="/estudiante" routerLinkActive="active">
                    <i class="fas fa-user-graduate"></i>
                    <span>Mis datos</span>
                </a>
            </li>
        </ul>
        <ul class="menu-items" *ngIf="user.role === 'ADMIN_ROLE'">
            <li>
                <a routerLink="/estudiantes" routerLinkActive="active">
                    <i class="fas fa-user-graduate"></i>
                    <span>Estudiantes</span>
                </a>
            </li>
        </ul>
        <ul *ngIf="user.role === 'ADMIN_ROLE'" class="menu-items">
            <li>
                <a routerLink="/ciclos" routerLinkActive="active">
                    <i class="fas fa-clipboard-list"></i>
                    <span>Ciclo</span>
                </a>
            </li>
        </ul>
    </nav>

</aside>