<div>
    <div class="row">
      <div class="col-12 col-xl-12 mb-4">
        <div class="card border-0 rounded-0">
          <div class="card-title mb-1 p-3 d-flex">
            <h6>Visitas realizadas</h6>
            <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis-h"></i> </a>
          </div>
          <div class="card-body">
            <div class="chart-container" style="position: relative;">
              <canvas id="chart-bar" width="3" height="1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>